.iScrollHover {
	background:#000 !important;
	color:#000 !important;
}

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:14px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
}

#header {
	position:absolute; z-index:2;
	top:0; left:0; 
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#000000;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #000000), color-stop(0.05, #000000), color-stop(1, #000000));
	background-image:-moz-linear-gradient(top, #000000, #000000 5%, #000000);
	background-image:-o-linear-gradient(top, #000000, #000000 5%, #000000);
	padding:0;
	color:#eee;
	font-size:22px;
	text-align:center;

} 

#header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

#footer {
	position:absolute; z-index:2;
	bottom:0; left:0; 
	width:100%;
	height:45px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)); 
	 
	padding:5;
	border-top:0px solid #ccc;
	text-align:center;
}

#wrapper {
	position:absolute; z-index:0;
	top:35px; bottom:0px; left:0;
	width:100%;
 
	background:#fff;
	overflow:auto;
}

#scroller { 

	position:absolute; z-index:0;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;

	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 0px;
	height:100%;
	line-height:20px;
	border-bottom:0px solid #ccc;
	border-top:0px solid #000;
	background-color:#fff;
	font-size:16px;
}
#myFrame {
	position:absolute;
	top:0; left:0;
}