
 

BODY	
{
    FONT-SIZE: 12px;
    COLOR: white;
    FONT-FAMILY: µ¸¿ò,Verdana;
    BACKGROUND-COLOR: #ffffff
}


TD
{
    
    COLOR: black;
	FONT-FAMILY: µ¸¿ò,Verdana; 
	FONT-SIZE: 12pt; 
    TEXT-DECORATION: none
    BACKGROUND-COLOR: #ffffff
}
A:link
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: µ¸¿ò,Verdana; 
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: µ¸¿ò,Verdana; 
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 12px;
    COLOR: #000000;
   FONT-FAMILY: µ¸¿ò,Verdana; 
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 12px;
    COLOR: red;
    FONT-FAMILY: µ¸¿ò,Verdana; 
    TEXT-DECORATION: none
    
}
INPUT
{
    BORDER-RIGHT: c0c0c0 1 px solid;
    BORDER-TOP: c0c0c0 1 px solid;
    BORDER-LEFT: c0c0c0 1 px solid;
    BORDER-BOTTOM: c0c0c0 1 px solid;
	FONT-FAMILY: µ¸¿ò,Verdana; 
	FONT-SIZE: 9pt;
}
.noBorderInput
{
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-BOTTOM: black 0px solid;
	FONT-FAMILY: µ¸¿ò,Verdana; 
	FONT-SIZE: 9pt;
}
TEXTAREA
{
    BORDER-RIGHT: c0c0c0 1px solid;
    BORDER-TOP: c0c0c0 1px solid;
    BORDER-LEFT: c0c0c0 1px solid;
    BORDER-BOTTOM: c0c0c0 1px solid;
	FONT-FAMILY: µ¸¿ò,Verdana; 
	FONT-SIZE: 9pt;	 
        
}
.titleLine
{
	BORDER-LEFT = #ffffff 1px solid;
	BORDER-RIGHT = #848484 1px solid;
	BORDER-TOP = #ffffff 1px solid;
	BORDER-Bottom = #848484 1px solid;	
	background-color: #CECFCE; 		
	FONT-FAMILY:µ¸¿ò, Verdana; 
	FONT-SIZE: 10pt; 
	HEIGHT:25px; 

}

.SELECT 

{
	COLOR: ffffff;
	FONT-FAMILY: µ¸¿ò,Verdana; 
	FONT-SIZE: 9pt; 
            TEXT-DECORATION: none
             BACKGROUND-COLOR: #FFFFFF

}

.Pishome_List_Items_Left {

	font-family: "µ¸¿ò","verdana"; 
	font-size: 12px;
    color: #000000;
	padding-left: 5px;

	}



body, form {
    margin: 0;
}

.Pishome_descriptiontext
{
    color: black;
    font-family: "µ¸¿ò","verdana"; 
    font-size: 9pt; 
	text-decoration: none;
}

.Pishome_descriptiontext a:visited, .Pishome_descriptiontext a:link
{
    color: black;
   	font-family: "µ¸¿ò","verdana"; 
    font-size: 9pt; 
	text-decoration: none;
}

.Pishome_descriptiontext a:hover
{
    color: black;
    font-family: "µ¸¿ò","verdana"; 
    font-size: 9pt; 
	text-decoration: none;
}

.Login_Description {
    font-family: "verdana","verdana","verdana"; 
	font-size: 12px;
	font-weight: bold;
    color: #000000;
	Pishomet-align: center;
	padding-left: 3px;
	}

.Pishome_Body {
    font-family: "µ¸¿ò","verdana"; 
	font-size: 12px;
    color: black;
	line-height : 20px;
}

.Pishome_Input {
   font-family: "verdana", "µ¸¿ò"; 
   font-size: 10pt; 
   color: Black;
   border: 1x solid #C3C3C3;
}
	
.Pishome_List_Items_Left 
{
	font-family: "µ¸¿ò","verdana"; 
	font-size: 12px;
    color: #000000;
	padding-left: 0px;
	}

.Pishome_List_Items_Left a:link, Pishome_List_Items_Left a:visited
{
	font-family: "µ¸¿ò","verdana"; 	
	font-size:12px;
	color:#000000;
	text-decoration: none; 
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;
	}

.Pishome_Table_Td_Dark {
 background-color:#CCCCCC;

}

.Pishome_Table_Td_Light {
 background-color:#e7e7e7;
}

.Pishome_List_Headers {
    font-weight: bold; 
	font-family: "µ¸¿ò","verdana"; 
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
}

.Pishome_List_Items, .Pishome_List_Items a:link, .Pishome_List_Items a:visited {
    font-family: "µ¸¿ò","verdana";

	font-size:12px;
	color:#000000;
	text-decoration: none; 
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;	
}

.Pishome_List_Items a:hover {
    font-family: "µ¸¿ò","verdana"; 
    font-size:12px;
    color:#000000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	padding-left: 3px;


	
}
.Pishome_List_Subject, .Pishome_List_Subject a:link, .Pishome_List_Subject a:visited 
{
    font-family: "µ¸¿ò","verdana"; 	
	font-size:12px;
	color:#000000;
	text-decoration: none; 
	text-align: left;
	vertical-align: middle;
	padding-left: 3px;
}

.Pishome_List_Subject a:hover {
    font-family: "µ¸¿ò","verdana"; 
    font-size:12px;
    color:#000000;
    text-decoration: none; 
	padding-left: 3px;	
}

.Pishome_Pager, .Pishome_Pager a:link, .Pishome_Pager a:visited {
    font-family: "µ¸¿ò","verdana"; 
	font-size:12px;
	color:#000000;
	Pishomet-decoration: none; 
	}
	
.Pishome_Pager a:hover{
    font-family: "µ¸¿ò","verdana"; 
	font-size:12px;
	color:#000000;
	Pishomet-decoration:none;
	}

.Pishome_Gray_Line { 
	border-bottom: 1px #E6E6E6 solid;	
}

.Pishome_Product_Code {
    color: black; 
    font-family: "µ¸¿ò","verdana"; 
    font-size: 9pt; 
  }
  
 .Pishome_Product_Code_Title
{
	font-size: 12pt;
	font-family: "µ¸¿ò","verdana";
	font-weight: bold;
	text-decoration: none; 
	color:#6a6a6a;
}
  
.Pishome_Search_Table_Td {
 background-color:#F8F8F8;
}

.Pishome_Left_Menu
{
	font-size: 12pt;
	font-family: "µ¸¿ò","verdana";
	font-weight: bold;
	text-decoration: none; 
	color:#6a6a6a;
}

.Pishome_Left_Menu A:link, .Pishome_Left_Menu A:visited
{
    color:#6a6a6a;
    text-decoration:none; 
}

.Pishome_Left_Menu A:hover
{
    color:#6a6a6a;
    text-decoration:underline; 
}
.Pishome_Left_Menu_Sub
{
	font-size: 12pt;
	font-family: "µ¸¿ò","verdana";
	font-weight: normal;
	text-decoration: none; 
	color:#A3873E;
}

.Pishome_Left_Menu_Sub A:link, .Pishome_Left_Menu_Sub A:visited
{
    color:#A3873E;
    font-size:12px;
    text-decoration:none; 
}

.Pishome_Left_Menu_Sub A:hover
{
    color:#A3873E;
    text-decoration:none; 
}

.Pishome_Category_Depth, .Pishome_Category_Depth a:link, .Pishome_Category_Depth a:visited {
    font-family: "µ¸¿ò","verdana";
	font-size:12px;
	font-weight: bold;
	color:#000000;
    text-decoration: none; 
}

.Pishome_Category_Depth a:hover {
    font-family: "µ¸¿ò","verdana"; 
    font-size:12px;
	font-weight: bold;
    color:#000000;
	text-decoration: underline;
	vertical-align: middle;	
}

.Pishome_Category_Depth_Sub, .Pishome_Category_Depth_Sub a:link, .Pishome_Category_Depth_Sub a:visited {
    font-family: "µ¸¿ò","verdana";
	font-size:12px;
	color:#000000;
    text-decoration: none;
}

.Pishome_Category_Depth_Sub a:hover {
    font-family: "µ¸¿ò","verdana"; 
    font-size:12px;
    color:#000000;
	text-decoration: underline;
	vertical-align: middle;	
}
 
.text_mode_0 {  
    font-family: "µ¸¿ò","verdana"; 
    font-size:14px;
    text-align: justify; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px; 
  
} 
